encryption = "age"

[age]
    identity = "~/.config/sops/age/keys.txt"
    recipient = "age16cervjwzspavujv5u4ew8hrtl5zaud7g53ql0395w4u5mf78fpnqs72w82"

[git]
    autoCommit = true
    autoPush = true
